body {
    margin: 0;
    background-color: #fbfbfb;
    font-family: "Lato", sans-serif
}

.navbar {
    background-color: #1d1d1d;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top:0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.navbtn {
    margin: 0px;
    float: left;
    display: block;
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
}

.navbtnlink {
    display: block;
    margin: 1em;
}

.content  {
    margin-top: 30px;
    padding-top: 30px;
    margin: 60px auto;
    width: 60%;
    word-spacing: 0.12em;
}

a {
    color: #555;
}

a:hover {
    color: #ff3300;
}

.code {
    color: #555;
    font-family: monospace;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #ebebeb;
    font-size: .8em;
}

ul {
    font-size: 1.2em;
}

th, td {
    border: 1px solid;
    border-color: #6c6c6c;
    border-spacing: 0px;
    padding: 0.2em;
  }

table {
    border: 1px solid;
    border-color: #0000004b;
}
